/**
* Client View Styles
*/
.ClientView {
    text-align: right;

    h1 {
        font-family: Helvetica;
        font-size: 2.4em;
        font-weight: 900;

        padding: 0 4% 0 2%;
    }
}

.ClientList {
    width: 20%;
    height: auto;

    margin: 1% 0 2% 0;

    float: left;

    clear: both;

    border-right: 2px solid $comp2;

    @include device {
        width: 100%;
    }
}

.inDetail .ClientList {
    @include device {
        display: none;
    }
}

.ClientListUL {
	@include mobile-landscape {
	    padding: 0 10% 0 0;
	}
}

.ClientListItem {
    width: 90%;
}

.ClientUser {
    width: 85%;
    height: 10%;
    float: right;
    margin: 5% 5% 0 0;

    z-index: 0;
    
    div {
        padding-right: 10px;
    }

	@include mobile-landscape {
	    width: 45%;
	}
}

.ClientUserName {
    width: 70%;
    top: 0px;
}

.ClientUserCompany {
    width: 70%;
    float:right;
}

.ClientDetails {
    width: 75%;
    height: 100%;

    float: right;

    text-align: left;

    @include device {
        display: none;
    }

}

.ClientDetails h1 {
    position: relative;
    left: -2%;

    padding: 0;
    margin: 0 0 1% 0;

    @include device {
        left: 0;
        font-size: 1.5em;
        margin: 0 0 2% 0;
    }
}

.inDetail .ClientDetails {
    @include device {
        display: block;

        width: 96%;
        padding: 0 2%;
    }
}

#ClientForm {
    width: 100%;
    height: 100%;



}

#ClientForm textarea {
    width: 80%;
    height: 110px;
    float:right;

    padding: .5%;
    margin: 1% 5% 0% 0;

    border: 2px outset #FFF;

    @include device {
        width: 95%;
        margin: 1% 1% 0 0;
    }
}

#ClientForm input[type='text'] {
    width: 80%;
    float:right;

    padding: .5%;
    margin: 0 5% 0 0;

    @include device {
        width: 95%;
        margin: 1% 1% 0 0;
    }
}

#ClientForm label {
    display: block;
    height: 25px;
    padding: 1% 1%;

    font-family: Helvetica;
    font-size: 1.2em;
    font-weight: 900;

    clear: both;


    @include device {
        height: 30px;
    }
}

.ClientDesc {
    height: 135px;
}
