/**
* Style for Detail View
*/

.DetailView {
    text-align: right;

    h1 {
        font-family: Helvetica;
        font-size: 2.4em;
        font-weight: 900;

        padding: 0 4% 0 2%;
    }

    label {
        display: block;
    }
}

.DetailOwners, .DetailColleagues, .DetailClients{
    width: 20%;
    height: auto;

    margin: 1% 0 2% 0;

    float: left;

    border-right: 2px solid $comp2;

    text-align: center;

    @include device {
        width: 100%;
    }
}

.DetailUser {
    width: 85%;
    height: 10%;
    float: right;
    margin: 5% 5% 0 0;
    
    div {
        padding-right: 10px;
    }
}

.DetailsDiv {
    width: 75%;
    height: 100%;

    text-align: left;
    float: right;

    @include device {
        width: 97%;
        height: 90%;
        padding: 0 0 0 3%;
    }

	@include mobile-landscape {
	    height: 140%;
	}

    h1 {
        position: relative;
        left: -2%;

        padding: 0;
        margin: 0 0 1% 0;
    }

    label {
        padding: 1% 1%;
    }
}

#DetailsForm {
    width: 100%;
    height: 100%;
}

#DetailsForm label {
    font-family: Helvetica;
    font-size: 1.2em;
    font-weight: 900;
}

#DetailsForm input[type='text'] {
    width: 80%;
    float:right;

    padding: .5%;
    margin: 0 5% 0 0;

    @include device {
        width: 90%;
    }
}

#DetailsForm textarea {
    width: 80%;
    height: 100px;
    float:right;
    padding: .5%;
    margin: 1% 5% 1% 0;

    border: 2px outset #FFF;

    @include device {
        width: 90%;
    }
}

.DetailDesc {
    height: 135px;
}

.SaveBtn {
    width: auto;
    height: auto;

    float: right;

    position: relative;
    right: 5%;

    padding: 5px 15px;
    margin: 2% 1%;
}
