/**
* Style for Home View
**/

.HomeView {
	@include mobile-landscape {
        height: 200%;
	}
}

.HomeLogo {
    width: 15%;
    height: 30px;
    margin: 10px 5px 20px 5px;

    @include mobile-portrait {
		width: 30%;
	}

	@include mobile-landscape {
		width: 40%;
	}

	@include tablet-portrait {
		width: 40%;
	}
}

.HomeActivityTop {
    width: 50%;
    height: 90%;

    margin: 0% 0% 0% 6%;

    float: left;

    text-align: center;

    h1 {
        font-size: 2.5em;
        font-weight: 900;
        font-family: Helvetica;
        margin: 0 0 5% 0;
    }


    @include device {
		width: 96%;
		height: 100%;

		margin: 0 2%;
		float: none;
    }

	@include mobile-landscape {
		width: 96%;
		height: 100%;

		margin: 3% 2% 0 2%;
		float: none;
	}
}

.HomeActivityList {
    width: 100%;
    height: 90%;
    margin-top: 1%;

    @include box-sizing(border-box);
    text-align: left;
}

.HomeActivity {
    width: 100%;
    height: 20%;

    margin: .8% 0%;
    padding: 1% 0 0 0;

    background-color: #DDD;

    @include box-sizing(border-box);
    border-top: 1px solid $comp2;
    border-bottom: 1px solid $comp2;
    @include border-radius(4px);

    overflow: hidden;
}

.HomeActivity img {
    width: 15%;
    height: 90%;
    
    margin: .5% 1% 0 1%;
    float: left;

    background-color: $comp2;
    border-radius: 50%;
    border: 4px solid #222;
    @include box-sizing(border-box);
    @include background-clip;

    @include device {
        width: 15%;
        height: auto;
	}
}

.HomeActivity p {
    width: 80%;
    height: 90%;
    float: left;

    @include device {
        width: 100%;
        float: none;
    }
}

.HomeActivity span {
    float: left;

    @include device {
        float: none;
	}
}

.HomeActivityBuffer {
    height: 50px;
    width: 100px;

    position: relative;
}

.HomeBtnDiv {
    width: 42%;
    height: 90%;

    margin: 1%;
    padding: 6% 0 6% 0;

    float:right;

    @include mobile-portrait {
		width: 100%;
		height: 40%;
		float: none;

		padding: 5% 0 8% 0;
	}

	@include mobile-landscape {
		width: 100%;
		height: 60%;
	}

	@include tablet-portrait {
		width: 80%;
		height: 40%;

		margin: 0 10%;
	}
    
}

.HomeBtn {
    width: 60%;
    height: 15%;

    margin: 7% 20%;

    @include mobile-portrait {
		width: 80%;
		height: 28%;
		margin: 3% 10%;
	}

	@include mobile-landscape {
		width: 80%;
		height: 20%;
		margin: 3% 10%;
	}

	@include tablet-portrait {
		width: 80%;
		height: 22%;
		margin: 7% 10%;
	}
}

.HomeBtn span {
    position: relative;
    top: 25%;

    font-size: 2.1em;

    @include mobile-portrait {
        font-size: 1.5em;
        top: .4em;
	}

	@include mobile-landscape {
	}

	@include tablet-portrait {
	    top: 30%;
	}
}
